/*codigo para a barra de navegação
    .navbar ul li{
    list-style:none;
    display:inline_block;
    margin:0 20px;
    position:relation;
}
.navbar ul li::after
{
    content:'';
    height:3px;
    width:0;
    background:#ffc107;
    position:absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
    .navbar ul li:hover::after{
        width:100%;
        termino do codigo para a barra de navegação
        -----codigo para sliding text-----
        
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
header{
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}
a{
    text-decoration: none;
}
.logo{
    cursor: pointer;
    width: 100%;
     height:100%;}
/*.pessoa,
.procura,
.carrinho{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px;
    
}*/
.icons a img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px;   
}
.pessoa a img,
.procura a img,
.carrinho a img{
    width: 100%;
    height: 100%;
    padding: 0px 2px;
}
.icons{
    padding-right: 50px;
}
.text_links li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    position: relative;
 
}
.text_links li a{
    color: black;
}
.text_links li ::after
{
    content:'';
    height:3px;
    width:0;
    background:#bd00b3;
    position:absolute;
    left:20px;
    bottom: -10px;
    transition:0.5s;
}
.explore :hover::after{
    width: 60%;
}
.mais :hover::after{
    width: 72%;
}
.novidades :hover::after{
    width: 66%;
}
.sobre :hover::after{
width: 65%;
}
.logo_div{  
    width: 150px;
    height: 80px;
}
.checkbtn{
font-size: 30px;
position: absolute;
 left: 10px;
display: none;
 cursor: pointer;
  }
  #check{
    display: none;
  }
  @media (max-width: 870px){
 .icons{
     padding-right: 0;
  }
}
@media (max-width: 801px){
    .checkbtn{
     display: block;
    }
    .logo_div{
        margin-left:50px ;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #bd00b3;
      top: 95px;
      left: -100%;
      text-align: left;
      transition: all .5s;
    }
    .text_links  li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .text_links  li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
.hwrap{
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: #bd00b3; 
}
.sliding_text{
display: flex;
position: relative;
}
.sliding_text:hover{animation-play-state: paused;}
.linha{
    padding-top: 20px;
    text-align: center;
    width: 100%;
   flex-shrink: 0;
}
.linha a{
    color: black;
}
@keyframes slide{
0%{right: 0%;}
30%{right: 0%;}
33%{right: 100%;}
63%{right: 100%;}
66%{right: 200%;}
97%{right: 200%;}
100%{right: 200%;}
}

.sliding_text{animation:slide linear 20s infinite;}
