/*codigo para a barra de navegação
    .navbar ul li{
    list-style:none;
    display:inline_block;
    margin:0 20px;
    position:relation;
}
.navbar ul li::after
{
    content:'';
    height:3px;
    width:0;
    background:#ffc107;
    position:absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
    .navbar ul li:hover::after{
        width:100%;
        termino do codigo para a barra de navegação
        -----codigo para sliding text-----
        
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', sans-serif;
}

header{
    
    font-weight: 500;
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}
a{
    text-decoration: none;
}
.logo{
    cursor: pointer;
    width: 100%;
     height:100%;}
/*.pessoa,
.procura,
.carrinho{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px;
    
}*/
.icons a img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px;   
}
.pessoa a img,
.procura a img,
.carrinho a img{
    width: 100%;
    height: 100%;
    padding: 0px 2px;
}
.icons{
    padding-right: 50px;
}
.text_links li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    position: relative;
 
}
.text_links li a{
    color: black;
}
.text_links li ::after
{
    content:'';
    height:3px;
    width:0;
    background:#bd00b3;
    position:absolute;
    left:20px;
    bottom: -10px;
    transition:0.5s;
}
/*::after sintax de content -- o conteudo vem after do content*/


.mais :hover::after{
    width: 72%;
}
.novidades :hover::after{
    width: 66%;
}
.sobre :hover::after{
width: 65%;
}
.logo_div{  
    width: 150px;
    height: 80px;
    /*aqui em baixo é a responsividade*/
}
.checkbtn{
font-size: 30px;
position: absolute;
 left: 10px;
display: none;
 cursor: pointer;
  }
  #check{
    display: none;
  }
  @media (max-width: 870px){
 .icons{
     padding-right: 0;
  }
}
@media (max-width: 801px){
    .checkbtn{
     display: block;
    }
    .logo_div{
        margin-left:50px ;
    }
    .icons{
        display:flex ;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #bd00b3;
      top: 95px;
      left: -100%;
      text-align: left;
      transition: all .5s;
    }
    .text_links  li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .text_links  li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: 0;
    }
/*aqui em baixo é o sliding text*/
  }
.hwrap{
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: #bd00b3; 
}
.sliding_text{
display: flex;
position: relative;
}
.sliding_text:hover{animation-play-state: paused;}
.linha{
    padding-top: 20px;
    text-align: center;
    width: 100%;
   flex-shrink: 0;
}
.linha a{
    color: black;
}
@keyframes slide{
0%{right: 0%;}
30%{right: 0%;}
33%{right: 100%;}
63%{right: 100%;}
66%{right: 200%;}
97%{right: 200%;}
100%{right: 200%;}
}

.sliding_text{animation:slide linear 20s infinite;
}

    /* aqui em baixo é o codigo do menu dropdown que já está a funcionar era so alterar a distancia de menu_sub:hover 
    para menu-sub :hover.... de qq forma ainda tenho q utilizar alguma forma de javascript(jquery) para fazer a div sliding text
    desaparecer quando faço hover no .explore-- por conseguinte será feito no final*/
  
.menu-sub {
    margin-top: 10px;
    left: 0;  
    position: absolute;
   /* width: 200vh;
    left: -700px;*/
    width: 900px;
    background: rgb(255, 253, 253);
opacity: 100%;
    padding: 2em; 
   display: none; 
  }
  
  .explore:hover .menu-sub{
   display: block;
  
  }
 
  .menu-sub li {
    display: block;
  }
  
  .menu-sub a {
    padding: 0;
    margin-bottom: .35em;
  }
  
  .menu-sub a:hover {
    text-decoration: underline;
    
  }
  
  .menu-category {
    margin: 2.5em 0 .5em;
    color: rgb(0, 0, 0); 
  }
  
  .menu-category:first-of-type {
    margin-top: 0;
  }
  
  .menu-col-1
   {
    float: left;
    
  }
  
  .menu-col-1 {
    width: 25%;
  }
  
  /*termina aqui o dropdown*/
  /* menu sub width: 200vh;
    left: -700px;*/
    .gajo-com-basketball{
      margin-left: 50px;
      width: 94%;
      height: 83vh;
      margin-bottom: 50px;
    }
    .gajo-com-basketball img{
     width: 100%;
    }
    .section-img1{
      display: flex;
justify-content: flex-start;

 
    }
    /*  <!--parte 1 of images-->*/
    .hood-black-white{
    background-color: #f5f5f5;
      position: absolute;
      margin: 50px;
    }
    .img-area{
      position: relative;
      height: 400px;
      width: 400px;
    }
    .img-area img{
      position: absolute;
      left: 0;
      height: 400px;
      width: 400px;
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
    .img-area .white-hood:hover{
     opacity: 0;
      cursor: pointer;
    }
     /*  <!--parte 2 of images-->*/
     .hood-donuts-container{
       width: 400px;
      background-color: #f5f5f5;
      position: relative;
        margin: 50px;
        left: 500px;
      }
      .img-area2{
        height: 400px;
        width: 400px;
      }
      .img-area2 img{
      position: absolute;
       
        height: 400px;
        width: 400px;
        opacity: 1;
        transition: opacity 1s ease-in-out;
      }
      .img-area2 .donuts-hoodie2:hover{
       opacity: 0;
        cursor: pointer;
      }